<div class="addRequestForm">
    <h2>Send new request</h2>

    <select name="requestType">
        <option value="1">Working from home</option>
        <option value="2">Sick leave</option>
    </select>

    <br>
    <button class="button save">Send</button>
    <button class="button cancel">Cancel</button>
</div>