<ul class="requestsList">
    {% if requests|length > 0 %}
    {% for request in requests %}
        <li class="requestItem" data-requestid="{{ request.id }}">
            {% if admin == true %}
            {{ request.first_name }} {{ request.last_name }} |
            {% endif %}
            {{ request.requestType|e }} | Status :

            {% if request.approved == '1' %}
                Request is approved.
            {% elseif request.approved == '0' %}
                Request is rejected.
            {% else %}
                Request is not approved yet.
            {% endif %}

            {% if admin == true and request.approved == '' %}
                <a href="#" class="button approve">Approve</a>
                <a href="#" class="button reject">Reject</a>
            {% elseif request.approved == '' %}
                <a href="#" class="button cancel">Cancel</a>
            {% endif %}

        </li>
    {% endfor %}
    {% else %}
    <p>No requests.</p>
    {% endif %}
</ul>