<div class="addUserForm">
    <h2>Add new user</h2>
    Firstname: <input type="text" value="" name="firstname">
    <br>
    Lastname: <input type="text" value="" name="lastname">
    <br>
    Email: <input type="text" value="" name="email">
    <br>
    <button class="button save">Add</button>
    <button class="button cancel">Cancel</button>
</div>