<ul class="userList">
    {% for user in users %}
    <li class="userItem" data-userid="{{ user.id }}">
        {{ user.first_name|e }} {{ user.last_name|e }} <a href="#" class="button features">features</a>
        <br>
        <div class="userFeatures">
            <h3>Features</h3>
            {% for feature, enabled in user.features %}
            {% set details = feature|split('-') %}
            <input type="checkbox" value="{{ details.1 }}"{% if enabled == '1' %} checked{% endif %}>{{ details.0 }}<br>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>