body{
    font-family: Arial;
    font-size: 1em;
    padding:20px;
}
#siteContainer,
#footer{
    width: 760px;
    margin-left:auto;
    margin-right:auto;
}
#footer{
    margin-top:20px;
    font-size: 0.8em;
    text-align: center;
}
#menuContainer{
    background-color: #87D5BD;
}
#menuContainer a{
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-right: 3px solid #8BC08C;
    border-bottom: 3px solid #8BC08C;
}

.addUserForm,
.addRequestForm,
.userFeatures{
    margin-top:10px;
    padding: 5px;
    background-color: #F7E6D8;
    border: 1px solid #996761;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}
.userFeatures{
    display: none;
}