<h1>Welcome {{ user.first_name }}</h1>
<div id="menuContainer">
    <a href="#" class="button logout">Logout</a>
    <a href="#" class="button addrequest">New Request</a>
</div>

<div class="contentContainer">
    <h2>Request</h2>
    <span class="requestListContainer"></span>
</div>