<h1>Welcome admin {{ user.first_name }}</h1>
<div id="menuContainer">
    <a href="#" class="button logout">Logout</a>
    <a href="#" class="button adduser">Add new user</a>
</div>
<div class="contentContainer">
    <h2>Waiting request</h2>
    <span class="requestListContainer"></span>
    <h2>Users</h2>
    <span class="userListContainer"></span>
</div>