<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Blexr</title>

    <link rel="stylesheet" href="static/css/default.css?v=1.0">

</head>

<body>
<div id="siteContainer"></div>

<div id="footer">
    <p>Copyright</p>
</div>

<script src="static/javascripts/jquery-1.12.3.min.js"></script>
<script src="static/javascripts/default.js"></script>
</body>
</html>